@import "tailwindcss";

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

#layout-app {
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
}
.bg-app {
    background-color: #131b29;
}